section{
    background-color: #333;
    padding-top: 6%;
    height: 100vh; 
}
table {
    width: 80%;
    margin: 0 auto; 

  }
  th{
    padding: 15px;
    color:#cda45e;
    font-weight:bold;
    background-color: rgba(33, 31, 31, 0.774);
    text-align: center;
  }
  td{
    background-color: #323030;
    padding: 10px;
    text-align: center;
  }

  button {
    padding: 0.8em 1em;
    border: 2px solid #cda45e;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color:#cda45e;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #cda45e;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: white;
   }
   .modal-content {
    background-color: rgb(66, 63, 63);
    color:#cda45e;

  }
  .closetab{
    color:#cda45e
  }
  .modalimg{
    width:15rem;
    padding:10px;
  }
  .tableModal {
    width: 100%;
    max-width: 100%;
    /* margin: 0 auto; */
    border-collapse: collapse;
    border: 1px solid #ccc;
  border-color: wheat;
  text-align: center;  
  }
  
  .thModal, .tdModal {
    text-align: left;
    /* padding: 8px; */
  }
  .tdModal{
    background-color: #333;
    color:wheat;
    text-align: center;
  }
  .thModal {
    background-color: #11111146;
   text-align: center;
    color: #cda45e;
  }
 .tdModal:hover{
    background-color: #333;
 }