<app-navbar></app-navbar>
<br>
<section class="aboutt">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="assets/img/about.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Username</h3>
          <br>
          <ul>
            <li><i class="bi bi-check-circle"></i> item name</li>
            <li><i class="bi bi-check-circle"></i> item price</li>
            <li><i class="bi bi-check-circle"></i> item quantity</li>
            <li><i class="bi bi-check-circle"></i> item category</li>
            <li><i class="bi bi-check-circle"></i> item description</li>
          </ul>
        </div>
      </div>

    </div>
  </section>
  <app-footer></app-footer>